<div class="px-4 my-5 text-center">
  <h1 class="display-6 fw-bold mb-4">Wellcome to Vacation master</h1>

  <div class="col-lg-7 mx-auto">
    <%= image_tag("vacation.jpg", class: "img-fluid rounded-top") %>
    <div class="text-start ps-md-4 my-4 fw-semibold">
      <p><i class="bi bi-check-circle text-primary me-2 "></i>
        Register, or log in to apply for vacation or time off from work
      </p>
      <p><i class="bi bi-check-circle text-primary me-2 "></i>
        Administrator will verify the availability of the vacation and confirm or reject the vacation request
      </p>
      <p><i class="bi bi-check-circle text-primary me-2 "></i>
        You will receive a notification letter once the status of your application has changed
      </p>
      <p><i class="bi bi-check-circle text-primary me-2 "></i>
        Go on vacation, relax and have a great time!
      </p>
    </div>    

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Log in", new_employee_session_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
  		<%= link_to "Sign up", new_employee_registration_path, class: 'btn btn-outline-primary btn-lg px-4' %>
    </div>
  </div>
</div>
